# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Bluejay _Engine
/out/Bluejay/Debug
/out/Debug/Bluejay _Engine.tlog
/out/Debug/vc143.pdb
/out/Debug/Bluejay_Engine_d.exe.recipe
/out/Debug/Bluejay_Engine_d.Build.CppClean.log
/out/Debug/Bluejay _Engine.log
/imgui.ini
/Bluejay _Engine.vcxproj.user
/out/Debug
/cache
